In [1]:
#pip install pandas
# %matplotlib inline

In [2]:
#import dependencies
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
from pathlib import Path



#import kaggle dataset
drug_data_to_load = Path("Resources/Drug_Use_Data_from_Selected_Hospitals.csv")
#drug_data_to_load

#read in the data
drug_dataset = pd.read_csv(drug_data_to_load)

#displao the data for preview
drug_dataset.head()


#ran using new_pd environment

,FIGURE,SETTING,INDICATOR,GROUP,SUBGROUP,TIME,START_TIME,END_TIME,VALUE,MEASURE
0,0,IP,NaN,NaN,NaN,1,01/01/2020,01/31/2020,38478.0,Count
1,0,IP,NaN,NaN,NaN,2,02/01/2020,02/29/2020,35754.0,Count
2,0,IP,NaN,NaN,NaN,3,03/01/2020,03/31/2020,32745.0,Count
3,0,IP,NaN,NaN,NaN,4,04/01/2020,04/30/2020,26179.0,Count
4,0,IP,NaN,NaN,NaN,5,05/01/2020,05/31/2020,29679.0,Count